body {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

main {
    color: black;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    /* padding: 50px; */
} 

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


p {
    word-wrap: break-word;
    width: 200px;
    font-weight: bold;
}

button {
    height: 30px;
    width: 100px;
    background-color: pink;
    border: none;
    border-radius: 2px;
    color: white;
    margin-top: 10px;
}



@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root {
--theme-bg-color: black;
--theme-color: white;
}

* { 
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  
  background-color:#3761af;
  background-color: var(--theme-bg-color);
  
  color: white;
  color: var(--theme-color);

}

.group {
  width: 115px;
}

.company{
    display: inline-block;
    vertical-align: middle;
    padding: 23.25px;
    font-size: larger;
}

.fa-shopping-cart{
  padding: 23.25px;
  float: left;
}

.sub{
  float: center;
  padding: 23.25px;
  font-size: 16px;
}

.search-bar{
    display: inline-block;
    vertical-align: middle;
    padding: 23.25px;
}

